body{
  padding: 20px;
}
h1{
  color: #FFD93E;
  font-size:3vw;
}
.customCss{
  background-color: #222222;
  border-radius: 20px;
}

#nav-toggle-button{
  background-color:#FFD93E;
}

.btn-warning{
  height: 100px;
}

.btn-primary{
  height: 100px;
}

.btn-success{
  height: 100px;
}

.btn-danger{
  height: 100px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #93c03e;
    border-color: #285e8e; /*set the color you want here*/
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #dd3b6c;
  border-color: #285e8e; /*set the color you want here*/
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-outline-success.active, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #ceda31;
  border-color: #285e8e; /*set the color you want here*/
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #bfcf29;
  border-color: #285e8e; /*set the color you want here*/
}