body{
  padding: 20px;
}
h1{
  color: #FFD93E;
  font-size:3vw;
}
.customCss{
  background-color: #222222;
  border-radius: 20px;
}

#nav-toggle-button{
  background-color:#FFD93E;
}

.btn-outline-warning{
  height: 100px;
}

.btn-outline-primary{
  height: 100px;
}

.btn-outline-success{
  height: 100px;
}

.btn-outline-danger{
  height: 100px;
}